doctype 5
html
    head
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(src='/js/chat.js')
        script(src='/socket.io/socket.io.js')
    
    body
        #container

        block content
