extends layout
block content
    div#login
        p Nickname:
            input#nickname

    div#chat
        ol#messages

        div
            input#message(type='text')
            input#submit-message(type='button',value='Send')
